:root {
    --main-bg-color: #3498db; /* Asosiy fon rangi */
    --navbar-bg-color: #2c3e50; /* Navbar fon rangi */
    --sidebar-bg-color: #34495e; /* Sidebar fon rangi */
    --primary-color: #1abc9c; /* Asosiy rang */
}
